<!DOCTYPE html>
<html>

    <head>
        <link rel = "stylesheet" href = "/css/Mycss.css"
    </head>

    <body>
        <div class = "Head">
            <h3>Sayan Sarkar</h3>
            </div>
        <div class = "left">
            <ul class = "acc">
                <li><a href = "https://github.com/Sayan130">My Github</a></li>
                <li><a href = "https://auth.geeksforgeeks.org/user/rick%20Sarkar/profile">Geeksforgeeks profile</a></li>
                <li><a href = "">My Articles(Coming soon)</a></li>
                <li><a href = "https://sayan130-weather-app.herokuapp.com/">Check current weather</a></li>
            </ul>
        </div>
        <div class = "About">
            <h4>Hello viewer, I hope you are doing well.Welcome to my portfolio site. This webpage is still under developmnet. I will keep adding new features almost every week.
If you want to connect with me please follow me on the <a href = "https://www.linkedin.com/in/sayan-sarkar-677793121">Linkedin<a>  or you can drop a mail
to rick.alipurduar@gmail.com</h4>

        </div>
        
    </body>


</html>